* {
  box-sizing: border-box;
}

@mixin displayflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex_space-between {
  display: flex;
  justify-content: space-between;
}

.side-bar {
  height: 100vh ;
  width: 300px;
  background-color: #253141;
  float: left;
  &__user-name {
    height: 100px;
    width: 300px;
    @include displayflex;
    &__top-item{
      height: 20px;
      width: calc(100% - 40px);
      @include flex_space-between;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      &__name{
        height: 100%;
        width: calc(100% - 60px) ;
        color: #ffffff;
      }
      &__icons{
        height: 100%;
        width: 60px;
        text-align: right;
        line-height: 20px;
      }
      &__btn{
        text-decoration: none;
        color: #ffffff;
        padding-left: 5px;
        
      }
    }
  }
  &__group-list {
    height: calc(100% - 100px);
    width: 100%;
    background-color:#2f3e51;
    padding:20px;
    &__group-box{
      height: calc(15px + 5px + 11px + 40px);
      width: calc(100% - 40px );
      padding-bottom: 40px;
      font-weight: bold;
      text-decoration: none;

      &__link{
        text-decoration: none;
      }

      &__group-name{
        height: 15px;
        width: 100%;
        line-height: 15px;
        font-size: 15px;
        margin-bottom: 5px;
        color: #ffffff;
      }
      &__group-message{
        height: 11px;
        line-height: 11px;
        font-size: 11px;
        color: #ffffff;
      }
    }
  }
}

.main-chat{
  height: 100vh ;
  width: calc(100% - 300px);
  background-color:#ffffff;
  float: right;
  &__group-info{
    height: 100px;
    width: 100%;
    @include flex_space-between;
    padding-left: 40px;
    padding-right: 40px;
    &__group{
      height: 100px;
      width:calc(100% - 40px - 40px - 72px) ;
      &__name{
        margin-top: 35px;
        margin-bottom: 15px;
        height: 38px;
        color: #333333;
        line-height:38px ;
        font-size: 20px;
      }
      &__member{
        height: 12px;
        width:100%;
        color: #999999;
        line-height: 12px;
        font-size: 12px;
      }
    }
    &__btn{
      height: 40px;
      width: 72px;
      text-align: center;
      line-height: 40px;
      text-decoration: none;
      color: #28aef0;
      font-size: 16px;
      border: solid 1px;
      margin-top: 30px;
    }
  }
  &__message-list{
    height: calc(100% - 190px);
    width: 100%;
    background-color: #fafafa;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 35px;
    overflow: scroll;
    &__box{
      padding-bottom: 46px;
      &__comment-info{
        height: 16px;
        display: flex;
        margin-bottom: 12px;
        &__name{
          line-height: 16px;
          color: #333333;
          font-size: 16px;
        }
        &__day{
          height: 12px;
          color: #999999;
          font-size: 12px;
          line-height: 12px;
          margin-left: 5px;
        }
      }
      &__comment{
        color:#434A54;
        font-size: 14px;
        line-height: 14px;
      }
      .lower-message__image{
        width: 200px;
        height: 200px;
      }
    }
  }

  &__message-from{
    height: 90px;
    width: 100%;
    background-color:#d2d2d2;
    @include displayflex;
    .new_message{
      width: calc(100% - 80px);
      height: 50px;
      @include flex_space-between;
      .form__message{
        width: calc(100% - 115px );
        height: 50px;
        padding-left: 10px;
      }

      .mask{
        position: relative;
        .icon{
          position: absolute;
          right: 10px;
          line-height: 50px;
          cursor: pointer;
        }
        .hidden{
          display: none;
        }
      }

      .form__submit{
        height: 100%;
        width: 100px;
        margin-left: 15px;
        background-color: #28aef0;
        color: #fafafa;
        cursor: pointer;
      }
    }
  }
}